<h1>Shopping Cart: </h1>

<% if @order.order_items.empty? %>
  <h1>Your cart is empty!</h1>
  <h2><%= link_to "Keep Shopping?", products_path %></h2>
<% else %>
<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
    <% @product = Product.find_by(id: item.product_id) %>
    <td><%= @product.name %></td>
    <td>
      <%= form_with url: edit_quantity_path(@product), method: :patch do |f| %>
        <%= f.label :quantity %>
        <%= f.select :quantity, (1..99), selected: item.quantity %>
      <li><%= f.submit "Change Quantity" %></li>
    <% end %>
    <li><%= link_to "Delete", order_item_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete?"}%></li>

        </td>
    </tr>
 <% end %>
</table>

<%= link_to 'Checkout', checkout_path, class: 'btn btn-primary' %>
<% end %>

