<h1>Order Fulfillment:</h1>
<p>Total Revenue: $<%= @current_merchant.total_revenue  %></p>
<p> Total Revenue by pending (shopping): $<%= @current_merchant.total_revenue('shopping') %></p>
<p> Total Revenue by paid (processing): $<%= @current_merchant.total_revenue('processing') %></p>
<p> Total Revenue by complete: $<%= @current_merchant.total_revenue('complete') %> </p>
<p> Total Revenue by cancelled: $<%= @current_merchant.total_revenue('cancelled') %> </p>
<p> Total Number of Orders: <%= @current_merchant.total_num %> </p>
<p> Total number of orders by pending: <%= @current_merchant.total_num('shopping') %> </p>
<p> Total number of orders by processing: <%= @current_merchant.total_num('processing') %> </p>
<p> Total number of orders by complete: <%= @current_merchant.total_num('complete') %> </p>
<p> Total number of orders by cancelled: <%= @current_merchant.total_num('cancelled') %> </p>

<h2> Orders: </h2>
<table width="100%">
  <tr>
    <td>Order ID</td>
    <td>Customer Name</td>
    <td>Email</td>
    <td>Order Total</td>
    <td>Order Page</td>
    <td>Created</td>
  </tr>
  <%@current_merchant.total_orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td><%= order.name %></td>
    <td><%= order.email %></td>
    <td><%= order.total %></td>
    <td><%= link_to "Go", order_path(order), class: 'btn btn-primary' %></td>
    <td><%= order.created_at %></td>

  </tr>
    <% end %>
</ol>
</table>