<!--<h1>Order details </h1>-->
<!--Your Order ID: <%#= @order.id %><br>-->
<!--Your Order Status: <%#= @order.status %>-->

<!--<table width="80%">-->
<!--  <tr>-->
<!--    <th>Item</th>-->
<!--    <th>Quantity</th>-->
<!--    <th>Price per unit</th>-->
<!--    <th>Subtotal</th>-->
<!--  </tr>-->
  <%# @order.order_items.each do |item| %>
<!--    <tr>-->
      <%# @product = Product.find_by(id: item.product_id) %>
<!--      <td><%#= @product.name %></td>-->
<!--      <td><%#= item.quantity %></td>-->
<!--      <td><%#= number_to_currency(@product.price) %></td>-->
<!--      <td><%#= number_to_currency(@product.price * item.quantity) %></td>-->
<!--    </tr>-->
  <%# end %>
<!--</table>-->

<!--<h1>Grand total: <%#= number_to_currency(@order.total) %></h1>-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-xs-center">
        <i class="fa fa-search-plus float-xs-left icon"></i>
      </div>
      <hr>
      <div class="row">
        </div>
            <div class="card-block">
            </div>
          </div>
        </div>
            <div class="card-block">
            </div>
          </div>

<div class="card  height">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h3 class="text-xs-center"><strong>Order summary</strong></h3>
          Your Order ID: <%= @order.id %><br>
          Your Order Status: <%= @order.status %>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
              <tr>
                <td class="text-xs-center"><strong>Item Name</strong></td>
                <td class="text-xs-center"><strong>Item Quantity</strong></td>
                <td class="text-xs-center"><strong>Price per unit</strong></td>
                <td class="text-xs-center"><strong>Subtotal</strong></td>

                <% @order.order_items.each do |item| %>
                <tr>
                  <% @product = Product.find_by(id: item.product_id) %>
                  <td><%= @product.name %></td>
                  <td><%= item.quantity %></td>
                  <td><%= number_to_currency(@product.price) %></td>
                  <td><%= number_to_currency(@product.price * item.quantity) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class = "spotlight-padding">Grand total: <%= number_to_currency(@order.total) %></h2>

<br>
<h2 class = "spotlight-other">Shopper details</h2>
<ul>
  <li><strong>Name:</strong> <%= @order.name %> </li>
  <li><strong>Email:</strong> <%= @order.email %> </li>
  <li><strong>Address:</strong> <%= @order.address %> </li>
  <li><strong>Last 4 of card number:</strong> <%= @order.card_number.to_s[-4..-1] %> </li>
  <li><strong>Expiration month:</strong> <%= @order.expiration_month %> </li>
  <li><strong>Expiration year:</strong> <%= @order.expiration_year %> </li>
  <li><strong>Zip code:</strong> <%= @order.zip_code %> </li>
  <li><strong>State:</strong> <%= @order.state %> </li>
  <li><strong>City:</strong> <%= @order.city %> </li>
</ul>





