<h1>Order details </h1>
Your Order ID: <%= @order.id %>

<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price per unit</th>

  </tr>
  <% @order.order_items.each do |item| %>
    <tr>
      <% @product = Product.find_by(id: item.product_id) %>
      <td><%= @product.name %></td>
      <td><%= item.quantity %></td>
      <td>$<%= @product.price %></td>
    </tr>
  <% end %>
</table>


<h2>Shopper details</h2>
<ul>
  <li>Name: <%= @order.name %> </li>
  <li>Email: <%= @order.email %> </li>
  <li>Address: <%= @order.address %> </li>
  <li>Last 4 of card number: <%= @order.card_number.to_s[-4..-1] %> </li>
  <li>Expiration month: <%= @order.expiration_month %> </li>
  <li>Expiration year: <%= @order.expiration_year %> </li>
  <li>Zip code: <%= @order.zip_code %> </li>
  <li>State: <%= @order.state %> </li>
  <li>City: <%= @order.city %> </li>



</ul>

