<h2>Fineries for Furry Friends</h2>
<% @products.each do |product| %>
  <section class="product-index">
  <ul>
    <li> <h3><%= product.name %> </h3></li>
    <li> Description: <%= product.description %> </li>
    <li> Price: $<%= product.price %> </li>
    <li> Sold by <%= link_to product.merchant.username, merchant_path(product.merchant) %> </li>
    <li> <%= product.stock %> in stock </li>
  </ul>
  </section>
<% end %>
