<h1> Product Details </h1>
<ul>
<li> Product name: <%= @product.name %> </li>
  <li> Description: <%= @product.description %> </li>
  <li> Price: $<%= @product.price %> </li>
  <li> Stock: <%= @product.stock %> </li>
  <li>Sold by: <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %></li>

  <%= form_with url: add_cart_path(@product), method: :patch do |f| %>
    <%= f.label :quantity %>
    <%= f.select :quantity, (1..99) %>
  <li><%= f.submit "Add to Cart" %></li>
  <% end %>
</ul>