<h1> Product Details </h1>
<ul>
<li> Product name: <%= @product.name %> </li>
  <li> Description: <%= @product.description %> </li>
  <li> Price: $<%= @product.price %> </li>
  <li> Stock: <%= @product.stock %> </li>
  <% Merchant.all.each do |merchant| %>
    <% if merchant.id == @product.merchant_id %>
        <li>Sold by: <%= merchant.username %></li>
    <% end %>
  <% end %>
  <%= form_with url: add_cart_path(@product), method: :patch do |f| %>
    <%= f.label :quantity %>
    <%= f.select :quantity, (1..99) %>
  <li><%= f.submit "Add to Cart" %></li>
  <% end %>
</ul>