<h1> Product Details </h1>
<ul>
<li> Product name: <%= @product.name %> </li>
  <li> Description: <%= @product.description %> </li>
  <li> Price: $<%= @product.price %> </li>
  <li> Stock: <%= @product.stock %> </li>
  <% Merchant.all.each do |merchant| %>
    <% if merchant.id == @product.merchant_id %>
        <li>Sold by: <%= merchant.username %></li>
    <% end %>
  <% end %>
  <li><%= link_to "Add to Cart", add_cart_path(@product), method: :patch %></li>
</ul>