<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
       /*h1 {*/
       /*    font-family: 'Indie Flower', cursive;*/
       /*}*/
       /*p {*/
       /*    font-family: 'Indie Flower', cursive;*/

       /*}*/
    </style>
  </head>

  <body>
    <section class = "nav-bar-11">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <%= link_to "pEtsy Shop", root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <%= link_to "Home", root_path, class: "nav-link" %>
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <%= link_to "Merchants", merchants_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Products", products_path, class: "nav-link" %>
              </li>
              <%# if Order.find_by(id: @shopper).status == "shopping"  %>
                <li class="nav-item">
                  <%= link_to "Show Cart", cart_path, class: "nav-link" %>
                </li>
              <%# else %>
                <li class="nav-item">
                  <%= link_to "Your Orders", orders_path, class: "nav-link" %>
                </li>
              <%# end %>
                <% if @current_merchant %>
                <li class="nav-item">
            <strong><%= link_to "Welcome #{@current_merchant.username}",
                                merchant_path(@current_merchant.id), class: "nav-link" %>  </strong>
                </li>
                <li class="nav-item">
                <%= link_to "Merchant Dashboard", orders_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Add a product", new_product_path(@current_merchant.id),
                              class: "nav-link"%>
                </li>
                <li class="nav-item">
                  <%= link_to "Log out", logout_path, method: "delete", class: "nav-link" %>
                </li>
            <% else %>
                <li class="nav-item">
                  <%= link_to "Login with Github", github_login_path, class: "nav-link" %>
                </li>
                <% end %>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </section>

<!--     Alert container-->
    <section class="alert__container">
      <% flash.each do |name, message| %>
        <% if name == "success" %>
          <div class="alert alert-success">
            <span><%= message %></span>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <span> <%= message  %> </span>
          </div>
        <% end %>
      <% end %>
    </section>

    <%= yield %>

    <!-- Footer -->
<!--    <footer>-->
<!--      <div class="container">-->
<!--        <p class="m-0 text-center text-white">Copyright &copy; pEtsy 2020</p>-->
<!--      </div>-->
<!--    </footer>-->

    <footer class="site-footer">
      <div class="social-wrapper">
        <ul>
          <li>
              <%= link_to image_tag("instagram-icon.png", width: "30px", height: "30px"), "https://www.instagram.com/churro.in.seattle/" %>
          </li>
          <li>
            <%= link_to image_tag("flickr-icon.png", width: "30px", height: "30px"), "https://churro2020.imgbb.com/" %>
          </li>
          <li>
            <%= image_tag("email-icon.png", width: "30px", height: "30px") %>
          </li>
          <li>
            <%= link_to image_tag("github-icon.png", width: "30px", height: "30px"), "https://github.com/seattlefurby17/betsy" %>
          </li>
        </ul>
      </div>
      <p class = "footer-text">Copyright &copy; 🐾 pEtsy 2020.  All rights reserved.</p>
<!--      </nav>-->
    </footer>
