<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav> 
        <% if @current_merchant %>
          <strong>Welcome <%= @current_merchant.username %></strong>
            <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Login with Github", github_login_path, class: "btn btn-primary" %>
        <% end %>
      </nav>
    </header>
    <section class="alert__container">
      <% flash.each do |name, message| %>
        <% if name == "success" %>
          <div class="alert alert-success">
            <span><%= message %></span>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <span> <%= message  %> </span>
          </div>
        <% end %>
      <% end %>
  </section>



    <%= yield %>
  </body>
</html>
